<div class="bg-white">
  <div class="container p-4">
    <div class="row g-0 justify-content-center align-items-stretch">

      <div class="col-md-6 d-flex rounded shadow p-4" style="
        background-image: url('<%= asset_path 'bird2.png' %>');
        background-size: cover;
        background-position: center;">
      </div>

      <div class="col-md-6 d-flex flex-column rounded shadow bg-light p-4">
        <h1 class="mb-4 text-center">Editing Service</h1>

        <%= form_with(model: [@user, @service], local: true) do |form| %>
          <% if @service.errors.any? %>
            <div id="error_explanation" class="alert alert-danger mb-4">
              <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
              <ul>
                <% @service.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group mb-3">
            <%= form.label :price, class: 'form-label' %>
            <%= form.number_field :price, class: 'form-control', style: 'font-size: 14px;' %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :description, class: 'form-label' %>
            <%= form.text_area :description, class: 'form-control', style: 'font-size: 14px;' %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :address, class: 'form-label' %>
            <%= form.text_field :address, class: 'form-control', style: 'font-size: 14px;' %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :restrictions, class: 'form-label' %>
            <%= form.text_area :restrictions, class: 'form-control', style: 'font-size: 14px;' %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :house_description, class: 'form-label' %>
            <%= form.text_area :house_description, class: 'form-control', style: 'font-size: 14px;' %>
          </div>

          <div class="form-group text-center d-grid">
            <%= form.submit 'Update Service', class: 'btn btn-warning text-white' %>
          </div>
        <% end %>

        <div class="text-center mt-4">
          <%= link_to 'Back', services_path, class: 'btn btn-secondary rounded-pill px-4 py-2' %>
        </div>
      </div>



    </div>
  </div>
</div>
