<h1> My Services</h1>

<% if @services.any? %>
  <ul>
    <% @services.each do |service| %>
      <li>
        <strong>Description:</strong> <%= service.description %><br>
        <strong>Price:</strong> <%= number_to_currency(service.price) %><br>
        <strong>Address:</strong> <%= service.address %><br>
        <strong>Restrictions:</strong> <%= service.restrictions %><br>
        <%= link_to 'View Details', service_path(service) %> |
        <%= link_to 'Edit', edit_service_path(service) %> |
        <%= link_to "delete", service, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No services available.</p>
<% end %>
  <%= link_to 'Add New Service', new_service_path %>
  <br>

<h2> Hired Services </h2>
    <div>
      <ul>
        <% @bookings.each do |booking| %>
        <li>
          Status:<%= booking.status %> <br>
          Message:<%= booking.message %> <br>
          <%= button_to 'Confirm booking', accept_booking_path(booking), method: :patch %> <br>
        </li>
        <% end %>
      </ul>
    </div>
