<div class="show-container mx-4 mt-2">
  <div class="row shadow-custom rounded-custom">
    <div class="col-lg-6 p-3 d-flex justify-content-center align-items-start">
      <img src="<%= cl_image_path @service.photo.key, crop: :fill %>" alt="Service Image" class="rounded-16" style="width: 80%; height: auto; object-fit: contain; border-radius: 16px;">
    </div>

    <div class="col-lg-6 py-3 px-2 d-flex flex-column justify-content-between details-section">
      <header>
        <h2 class="fs-3 text-center mb-2 fw-bold service-title"><%= @service.user.first_name %>'s Pet Sitting Service</h2>
      </header>

      <section class="d-flex justify-content-center align-items-center mb-2 user-info">
        <div class="d-flex align-items-center justify-content-center mx-2">
          <%= cl_image_tag @service.user.photo.key, class: "rounded-circle me-1", width: "30px", height: "30px" %>
          <p class="fs-7 m-0 user-name text-center"><%= @service.user.first_name %> <%= @service.user.last_name %></p>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-2 rating-info">
          <span class=" fs-7 me-1 fw-bold text-center">Rating:</span>
          <span class="rating fs-7 text-center">4.8</span>
        </div>
      </section>

      <section class="text-center mb-4">
        <span class="badge-custom ">Top 10 Rated</span>
      </section>

      <section class="detail-info pe-5">
        <h5 class="fw-bold section-title"><i class="fa-solid fa-circle-up me-1"></i>Service Description</h5>
        <p class="description" style="font-size: .8rem;"><%= @service.description %></p>
      </section>

      <section class="detail-info pe-5">
        <h5 class="fw-bold section-title"><i class="fa-solid fa-circle-up me-1"></i>Service Restrictions</h5>
        <p class="description" style="font-size: .8rem;"><%= @service.restrictions %></p>
      </section>

      <section class="detail-info pe-5">
        <h5 class="fw-bold section-title"><i class="fa-solid fa-circle-up me-1"></i>House Info</h5>
        <ul class="list-unstyled description" style="font-size: .8rem;">
          <li><i class="fa-solid fa-location-dot icon-custom"></i><strong>Address:</strong> <%= @service.address %></li>
          <li><i class="fa-solid fa-book icon-custom"></i><strong>Description:</strong> <%= @service.house_description %></li>
        </ul>
      </section>

      <footer class="text-center d-flex justify-content-center align-items-center mt-3">
        <h4 class="me-3 fw-bold price"><%= number_to_currency(@service.price) %> <span class="fs-6 text-muted">/day</span></h4>
        <button style="margin-left: 10px;" class="btn btn-warning btn-sm px-3 text-white book-btn">Book Now</button>
      </footer>
    </div>
  </div>
</div>
