<div class="container d-flex align-items-center justify-content-center mt-4">
  <div class="row justify-content-center w-100 h-100">
    <div class="form-card col-md-5 shadow p-2 bg-white rounded">
      <h2 class="fs-1 text-center mt-3 p-3">Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs px-4 py-1 mx-5">
          <%= f.input :first_name,
                input_html: { autocomplete: "given-name" } %>
          <%= f.input :last_name,
                      input_html: { autocomplete: "last-name" } %>
          <%= f.input :photo, required: true, as: :file %>
          <%= f.input :phone_number,
                      input_html: { autocomplete: "phone_number" } %>
          <%= f.input :address,
                      input_html: { autocomplete: "address" } %>
          <%= f.input :description,
                      label: "Tell us more about yourself",
                      input_html: { autocomplete: "address" } %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions d-grid gap-2 px-4 mx-5">
          <%= f.button :submit, "Sign up", class: "btn btn-warning text-white" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
    <div class="col-md-5 login-img-container shadow p-2 rounded">
    </div>
  </div>
</div>
