<div class="container user-container d-flex align-items-center justify-content-center my-2">
  <div class="row justify-content-center w-100 h-100">
    <div class="form-card col-md-5 shadow p-2 bg-white rounded">
      <h2 class="fs-5 text-center mt-1 p-1">Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs px-4 py-1 mx-5">
          <div class="row">
            <div class="col">
              <%= f.input :first_name,
                          label: false,
                      placeholder: "Enter your first name",
                      input_html: { autocomplete: "given-name", class: "form-control-sm me-2" } %>
            </div>
            <div class="col">
              <%= f.input :last_name,
                            label: false,
                      placeholder: "Enter your last name",
               input_html: { autocomplete: "family-name", class: "form-control-sm" } %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= f.input :photo, required: true, as: :file, input_html: { class: "form-control-sm" } %>
            </div>
            <div class="col">
              <%= f.input :phone_number,
                          input_html: { autocomplete: "phone_number", class: "form-control-sm" } %>
            </div>
          </div>
          <%= f.input :address,
                      label: false,
                      placeholder: "Enter your address here",
                      input_html: { autocomplete: "address", class: "form-control-sm" } %>
          <%= f.input :description,
                      label: false,
                      placeholder: "Tell us more about yourself",
                      input_html: { autocomplete: "address", class: "form-control-sm" } %>
          <%= f.input :email,
                        label: false,
                      placeholder: "What's your email?",
                      required: true,
                      input_html: { autocomplete: "email", class: "form-control-sm" }%>
          <div class="row">
            <div class="col">
              <%= f.input :password,
                          label: false,
                           placeholder: "Password",
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password", class: "form-control-sm" } %>
            </div>
            <div class="col">
              <%= f.input :password_confirmation,
                            label: false,
                           placeholder: "Password confirmation",
                          required: true,
                          input_html: { autocomplete: "new-password", class: "form-control-sm" } %>
            </div>
          </div>
        </div>
        <div class="form-actions d-grid gap-2 px-4 mx-5">
          <%= f.button :submit, "Sign up", class: "btn btn-warning text-white btn-sm rounded" %>
        </div>
      <% end %>
       
      </div>
    <div class="col-md-5 login-img-container shadow p-2 rounded">
    </div>
  </div>
</div>
