<div class="bg-white">
  <div class="container p-4">
    <div class="row g-0 justify-content-center align-items-stretch">
      <div class="col-md-5 d-flex flex-column rounded shadow bg-light p-4">
        <h2 class="text-center mt-1 p-1">Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs py-1 mx-5">
            <%= f.input :first_name,
                        label: "Enter your first name",
                        input_html: { autocomplete: "given-name", style: 'font-size: 14px;' } %>
            <%= f.input :last_name,
                        label: "Enter your last name",
                        input_html: { autocomplete: "family-name", style: 'font-size: 14px;' } %>
            <%= f.input :photo, required: true, as: :file, input_html: { style: 'font-size: 14px;' } %>
            <%= f.input :phone_number,
                        input_html: { autocomplete: "phone_number", style: 'font-size: 14px;' } %>
            <%= f.input :address,
                        label: "Enter your address here",
                        input_html: { autocomplete: "address", style: 'font-size: 14px;' } %>
            <%= f.input :description,
                        label: "Tell us more about yourself",
                        input_html: { autocomplete: "address", style: 'font-size: 14px;' } %>
            <%= f.input :email,
                          label: "What's your email?",
                        required: true,
                        input_html: { autocomplete: "email", style: 'font-size: 14px;' }%>

                <%= f.input :password,
                            label: "Password",
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password", style: 'font-size: 14px;'} %>

                <%= f.input :password_confirmation,
                              label: "Password confirmation",
                            required: true,
                            input_html: { autocomplete: "new-password", style: 'font-size: 14px;'} %>

          </div>
          <div class="form-actions d-grid gap-2 px-4 mx-5">
            <%= f.button :submit, "Sign up", class: "btn btn-warning text-white rounded", style: 'font-size: 14px;' %>
          </div>
        <% end %>
      </div>
      <div class="col-md-5 d-flex rounded shadow p-4" style="
        background-image: url('https://i.pinimg.com/564x/c6/28/b0/c628b0a1f142ead4ca8c93292c5e10b6.jpg');
        background-size: cover;
        background-position: center;">
      </div>
    </div>
  </div>
</div>
