<div class="row shadow border justify-content-center mb-4 mx-auto " style="max-width: 800px; ">

    <%= turbo_stream_from dom_id(@booking) %>

    <div class="border p-3 text-center text-white" style="background-color: #fd8522;">
      <h3 class="my-2">
        <%= cl_image_tag @receiver.photo.key, class: "avatar", alt: "dropdown menu", crop: :fill, style: "object-fit: cover; height: 40px;" %>
        &nbsp; <%= @receiver.first_name %> <%= @receiver.last_name %>
      </h3>
    </div>

    <div class=" border p-3">
      <%= turbo_frame_tag "messages_#{@booking.id}" do %>
        <% @messages.order(created_at: :asc).each do |message| %>
          <% if message.sender == current_user %>
            <div class="d-flex mb-2 align-items-start">
              <div class="chat-message-sent me-2">
                <p class="p-0 m-0">
                  <%= message.content %>
                </p>
              </div>
              <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "#{message.sender.first_name}'s profile picture", style: "object-fit: cover; height: 40px; width: 40px; margin-right: 10px;" %>
            </div>
          <% else %>
            <div class="d-flex mb-2 align-items-start">
              <%= cl_image_tag message.sender.photo.key, class: "avatar", alt: "#{message.sender.first_name}'s profile picture", style: "object-fit: cover; height: 40px; width: 40px; margin-right: 10px;" %>
              <div class="chat-message-receiver">
                <p class="p-0 m-0">
                  <%= message.content %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= turbo_frame_tag "message_form" do %>
        <%= simple_form_for([@booking, @message], remote: true, html: { data: { controller:"reset-form-chat" , action:"turbo:submit-end->reset-form-chat#reset" }, class: "chat-form" }) do |f| %>
          <%= f.input :content, label: false, input_html: { data: { target: "form.content" }, class: "form-control lg mb-2", style: 'font-size: 14px;', autofocus: true, placeholder: "Type your message here..." } %>
          <%= f.submit 'Send', id: 'submit_button', class: "btn btn-warning text-white"%>
        <% end %>
      <% end %>
    </div>

</div>
