<div
  class="card-custom card bg-white shadow-lg rounded-4 p-0 h-100"
  id="booking_<%= booking.id %>">
  <div class="border-bottom p-3 d-flex flex-column flex-sm-row justify-content-between align-sm-items-center">
    <p class="m-0 text-orange fs-7 fw-medium">
      <%= booking.created_at.strftime("%B %d, %Y") %>
    </p>
    <p class="m-0">
      <span class="fw-medium">The service is </span>
      <%
        def getClass(status)
          return "text-warning" if status == "pending"

          status == "confirmed" ? 'text-success' : 'text-danger'
        end
      %>
      <strong class="<%= getClass(booking.status) %>">
        <%= booking.status.upcase %>
      </strong>
    </p>
  </div>
  <div class="card-body">
    <div class="row g-3">
      <div class="col-3 d-flex justify-content-center align-items-start">
        <%= cl_image_tag booking.service.photo.key, class: "w-100" %>
      </div>
      <div class="col-9 d-flex flex-column justify-content-center gap-2">
        <p class="m-0">
          <span class="fw-bold fs-7 text-secondary">
            <i class="fa-regular fa-user"></i>
            &nbsp; Hired by:</span>
          <%= booking.pet.user.first_name %> <%= booking.pet.user.last_name %></p>
        <p class="m-0">
          <span class="fw-bold fs-7 text-secondary">
            <i class="fa-solid fa-paw"></i>&nbsp; To take care of:
          </span>
          <%= booking.pet.name %> (<%= booking.pet.specie %>)</p>
        <p class="m-0">
          <span class="fw-bold fs-7 text-secondary">Price per day:</span>
          $<%= booking.service.price %></p>

      </div>
      <div class="col-12 d-flex flex-column justify-content-center gap-3">
        <p class="m-0">
          "<%= booking.pet.description %>"
        </p>
        <p class="m-0">
          <span class="fw-bold fs-7 text-secondary">
            <i class="fa-regular fa-calendar"></i>&nbsp; From:
          </span>
          <%= booking.start_date.strftime("%B %d, %Y") %>
          <span class="fw-bold fs-7 text-secondary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To:</span>
          <%= booking.end_date.strftime("%B %d, %Y") %>
        </p>

        <p class="m-0 lh-base">
          <span class="fw-bold fs-7 text-secondary d-block pb-1">
            <i class="fa-solid fa-location-dot"></i>&nbsp; The address where you will provide the service in is:
          </span>
          <%= booking.service.address %>
        </p>
        <p class="m-0 lh-base">"<%= booking.message %>"</p>
      </div>
    </div>
  </div>

  <% if booking.status == "pending" %>
    <div data-controller="tab-switch" class="d-flex flex-column flex-sm-row justify-content-center gap-3 border-top p-3">
      <%= button_to 'Confirm Booking',
        accept_booking_path(booking),
        method: :patch,
        data: {
          turbo_action: "replace",
          action: "turbo:submit-end->tab-switch#changeTab"
        },
        class: 'btn btn-success rounded-pill px-4 py-2 text-white w-100' %>

        <%= button_to 'Reject Booking',
          reject_booking_path(booking),
          method: :patch,
          data: {
            turbo_confirm: 'Are you sure?',
            turbo_action: "replace",
            action: "turbo:submit-end->tab-switch#changeTab" },
          class: 'btn btn-danger rounded-pill px-4 py-2 text-white w-100' %>
    </div>
  <% end %>

  <%# LINK_TO CHAT %>
  <% if current_user != user && booking.status == "confirmed" %>
    <div class="px-3 pb-3 d-flex justify-content-end" data-controller="tooltip">
      <%= link_to conversation_path(booking.pet.user.id, booking_id: booking.id), class: "rounded-circle px-2 py-1 text-white bg-orange bg-opacity-75 fs-5", data: { bs_toggle: "tooltip", bs_title: "Chat with #{booking.pet.user.first_name}" }  do %>
        <i class="fa-regular fa-comments"></i>
      <% end %>
    </div>
  <% end %>
</div>
