 <div class="booking-container">
    <div class="row" data-controller="hello">
      <!-- Left Column -->
      <div class="col-md-7" >
        <h2 class="booking-title text-center">Just one more step</h2>
          <%= form_with(model: [@service, @booking], local: true) do |form| %>
            <% if @booking.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
                <ul>
                  <% @booking.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <!-- Start and End Date -->
          <div class="row">
            <div class="col-md-6 form-group">
              <%= form.label :start_date %>
              <%= form.date_field :start_date, class: "form-control", id: "start-date", data: { target: "hello.startDate", action: "input->hello#calculateDays" }, min: Date.today %>
            </div>
            <div class="col-md-6 form-group">
              <%= form.label :end_date%>
              <%= form.date_field :end_date, class: "form-control", id: "end-date", data: { target: "hello.endDate", action: "input->hello#calculateDays" }, min: Date.today %>
            </div>
          </div>

          <!-- Pet selection -->


            <select name="booking[pet_id]" id="pet_id" class="form-control" data-target="hello.petSelect" data-action="change->hello#updatePetName">
              <option value="">Select a pet</option>
              <% Pet.where(user: current_user).each do |pet| %>
              <option value="<%= pet.id %>" data-photo="<%= cl_image_path(pet.photo.key) %>"> <%= pet.name %> </option>
              <% end %>
            </select>



          <!-- Message -->
          <div class="form-group">
            <%= form.label :message %>
            <%= form.text_area :message, class: "form-control"%>
          </div>

          <!-- Submit Button -->
          <%= form.submit 'Create Booking', class:"btn-submit" %>
        <% end %>
        <div class="booking-back-links mt-2">
         <%= link_to 'Back to Service Details', service_path(@service) %>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-md-5 mt-5">
        <!-- Reservation Box -->
        <div class="reservation-box mb-4">
          <p class="d-none"> Price per day: <strong data-target="hello.price"><%= @service.price %></strong></p>
          <span data-target="hello.output">0</span><span> days</span>
          <p>Total price: $<strong data-target="hello.totalPrice"></strong></p>
        </div>

        <!-- Info Box -->
        <div class="info-box h-50">
        <div id="petPhotoDisplay" class="pet-photo-container"> <!-- Initial Image (Optional) --> <img id="petPhoto" src="<%= cl_image_path("https://res.cloudinary.com/dgbg8nxyq/image/upload/v1726517312/shadow_yw4zen") %>" /> </div>
          <p id="petNameDisplay"></p>
        </div>
      </div>

    </div>
</div>
