<div class="container mb-5 booking-detail">

  <div class="text-center d-flex flex-column justify-content-center align-items-center gap-3">
    <div class="icon-box">
      <div class="icon-box__context">
        <i class="fa-solid fa-paw"></i>
      </div>
    </div>
    <h1 class="m-0">Request created!</h1>
    <p class="m-0 text-secondary">You need to wait for the caregiver to approve your service request. 🎉</p>
  </div>

  <h2 class="m-0 fs-5 ">Booking details</h2>

  <div class="row g-4">
    <div class="col-md-7 col-lg-5">
      <div class="bg-white border border-warning rounded-4 shadow">
        <h3 class="text-warning fs-6 m-0 p-3 bg-warning bg-opacity-25 border-warning border-bottom">Summary</h3>
        <div class="d-flex flex-column gap-3 p-3">

          <p class="m-0">
            <span class="fw-medium fs-7 ">
              <i class="fa-regular fa-calendar"></i>&nbsp; From:
            </span>
            <%= @booking.start_date.strftime("%B %d, %Y") %>
            <span class="fw-medium fs-7 "> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To:</span>
            <%= @booking.end_date.strftime("%B %d, %Y") %>
          </p>

          <div>
            <p class="fw-medium fs-7  m-0">
              <i class="fa-regular fa-comment"></i>&nbsp; Message: </p>
            <p class="m-0"><%= @booking.message %></p>
          </div>

          <div>
            <p class="fw-medium fs-7  m-0">
              <i class="fa-solid fa-location-dot"></i>&nbsp; The address: </p>
            <p class="m-0"><%= @booking.service.address %></p>
          </div>

          <div>
            <p class="fw-medium fs-7  m-0">
              <i class="fa-regular fa-credit-card"></i>&nbsp; Price per day: </p>

            <p class="m-0"><i class="fa-solid fa-dollar-sign"></i> <%= @booking.service.price  %></p>
          </div>
        </div>
        <div class="fs-6 m-0 px-3 py-2 bg-warning bg-opacity-50 border-warning border-top d-flex justify-content-between align-items-center fw-bold">
          <p class="m-0">Total</p>
          <p class="m-0">
            <i class="fa-solid fa-dollar-sign"></i></i>
            <%= @total_price %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-3">
      <div class="bg-white border border-warning rounded-4 shadow card-container">
      <h3 class="text-warning fs-6 m-0 p-3 bg-warning bg-opacity-25 border-warning border-bottom">Pet</h3>
        <div class="d-flex flex-column gap-3 p-3">

          <div class="d-flex align-items-center gap-2">
            <% if @booking.pet.photo && @booking.pet.photo.key.present? %>
                <%= cl_image_tag @booking.pet.photo.key, class: "card-box__thumbnail", alt: "#{@booking.pet.name}", crop: :fill %>
            <% end %>
            <h4 class="card-title m-0 fs-6"><%= @booking.pet.name %></h4>
          </div>

          <div class="d-flex flex-wrap gap-3">
            <div class="card-box__invert">
              <p class="card-box__content"><%= @booking.pet.age %> years</p>
              <p class="m-0  fs-7">Age</p>
            </div>
            <div class="card-box__invert">
              <p class="card-box__content"><%= @booking.pet.weight %> kg</p>
              <p class="m-0  fs-7">Weight</p>
            </div>
            <div class="card-box__invert">
              <p class="card-box__content"><%= @booking.pet.specie %></p>
              <p class="m-0  fs-7">Specie</p>
            </div>
          </div>

          <div>
            <div class="d-flex gap-2 fw-medium fs-7  align-items-center pb-1">
              <i class="fa-solid fa-heart"></i>
              <h6 class="m-0"> Likes </h6>
            </div>
            <p class="m-0"><%= @booking.pet.likes %></p>
          </div>

          <div>
            <div class="d-flex gap-2 fw-medium fs-7  align-items-center pb-1">
              <i class="fa-solid fa-heart-crack"></i>
              <h6 class="m-0 "> Dislikes</h6>
            </div>

            <p class="m-0"><%= @booking.pet.dislikes %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-4">
      <div class="bg-white border border-warning rounded-4 shadow card-container">
        <h3 class="text-warning fs-6 m-0 p-3 bg-warning bg-opacity-25 border-warning border-bottom">Service</h3>
        <div class="d-flex flex-column gap-3 p-3">

          <div>
            <p class="fw-medium fs-7  m-0">
              <i class="fa-solid fa-user"></i>&nbsp; By: </p>

            <div class="d-flex align-items-center gap-2">
              <% if @booking.service.user.photo &&  @booking.service.user.photo.key.present? %>
                <%= cl_image_tag  @booking.service.user.photo.key, class: "card-box__thumbnail", alt: "#{ @booking.service.user.first_name}", crop: :fill %>
              <% end %>
              <p class="m-0"><%= @booking.service.user.first_name %> <%= @booking.service.user.last_name %></p>
            </div>
          </div>

          <div>
            <p class="fw-medium fs-7  m-0">
              <i class="fa-solid fa-triangle-exclamation"></i>&nbsp; Restrictions: </p>
            <p class="m-0"><%= @booking.service.restrictions %></p>
          </div>

          <div>
            <p class="fw-medium fs-7  m-0">
              <i class="fa-solid fa-house"></i>&nbsp; Place description: </p>
            <p class="m-0"><%= @booking.service.house_description %></p>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
