<div class="container d-flex align-items-center justify-content-center mt-4">
  <div class="row justify-content-center w-100 h-100">
    <div class="col-md-5 shadow p-2 bg-white rounded">
      <h2 class="fs-1 text-center mt-3 p-3">Login</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs px-4 py-2 mx-5">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions d-grid gap-2 px-4 mx-5">
        <%= f.button :submit, "Log in", class: "btn btn-warning text-white" %>
      </div>
      <% end %>
      <div class="button-group mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  <div class="col-md-5 login-img-container shadow p-2 rounded">
    </div>


    </div>

  </div>
