<!DOCTYPE html>
<html>
  <head>
    <title>PetCare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
  </head>

  <body>
    <%= turbo_frame_tag "flash" do %>
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% elsif alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
    <% end %>
    <% unless current_page?(root_path) || current_page?('/users/sign_up') || current_page?('/users/sign_in') %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>

    <main>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
